<div class="panel panel-default">	
	<div class="panel-heading">
		<div class="day-buttons">
			<button class="btn btn-circle day-btn current-day">1</button>
		</div>
	</div>
	<div class="panel-body">
		<div>
			<h4>My Hotels</h4>
			<ul class="list-group" id="itinerary-hotels">
			</ul>
		</div>
		<div>
			<h4>My Restaurants</h4>
			<ul class="list-group" id="itinerary-restaurants">
			</ul>
		</div>
		<div>
			<h4>My Things To Do</h4>
			<ul class="list-group" id="itinerary-things_to_do">
			</ul>
		</div>
	</div>
</div>